.products-container {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.product {
    margin: 10px;
    padding: 8px;
    display: flex;
}

.product-image {
    height: 10rem;
    align-content: center;
}

.product-category {
    display: flex;
    gap:  8px;
    /*inline-size: 150px;*/
    overflow-wrap: break-word;
}