.logo {
    max-width: 20rem;
    max-height: 10rem;
}

.top-bar {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.basket-button {
    padding: 20px;
!important;
    background: rgb(234, 88, 12);
}

.main-grid {
    display: flex;
    flex-direction: row;
}

.categories-sidebar {
    width: 18rem;
    padding: 16px;
}

.subcategories-wrapper:hover > .hide {
    margin-left: 24px;
    display: block
}

.hide {
    display: none;
}


.link {
    line-break: anywhere;
}