.logo {
    max-width: 20rem;
    max-height: 10rem;
}

.top-bar {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.basket-button {
    padding: 20px; !important;
    background: rgb(234, 88, 12);
}